@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio</h1>
    <p>Aprende sobre <a href="https://leonardopersonalweb.azurewebsites.net/">GitHub e integración con Azure</a>.</p>
</div>
